[user]
	name = Hayato Kato
	email = kato.hayato@willgate.co.jp

[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	st = status
	conflicts = !git ls-files -u | cut -f 2 | sort -u
	ch = checkout
	chm = checkout master
	chb = checkout develop
	br = branch
	brd = branch -D

[color]
	ui = auto

[merge]
	tool = meld

